.salom{
    background-color: wheat;
    color: black;
    text-align: center;
}
.form{
    text-align: center;
    color: yellow;
    background-color: black;
}
.tea{
    background-color: green;
    color: white;
    border-radius: 400px;
    text-align: center;
    width: 100px;
}

    


